@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
.clock {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #007bff;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
	border-top: 6px solid yellow;


}
